html{
	/*为了方便可以把根字体设置为100px,以后的所有大小都是按照它来计算的*/
	/*浏览器的默认字体大小为16px,这里设置的是100/16*100%=625%，所以设置成625%与根字体设置成100px是一个道理*/
	font-size: 625%;
}
body,h1,h2,h3,h4,p,ul,ol,form,fieldset,figure {
	margin: 0;
	padding: 0;
}
body{
	background: #ffffff;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
	/*所有的字体大小都要根据html中设置的大小来进行设置，rem的标准是100px,最终得到的像素是x100的结果*/
	font-size: .16rem;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	/*图片大小不会溢出屏幕，当屏幕放大的时候图片不会溢出，当屏幕缩小的时候，图片跟着缩小，做到了图片大小自适应*/
	display: block;
	max-width: 100%;
}
div,figure,figcaption{
	box-sizing: border-box;
}
/*清除浮动*/
.clearfix::after{
	content: '.';
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
/*因为header是全屏类的，所以宽度设置成100%，其他单位被rem代替了，方便统一管理大小*/
/*PC端的话，设置宽度为100%后，还要设置最小宽度min-width，因为PC端布局大多是固定大小的，大于这个宽度我们可以居中设置，小于这个宽度，我们要让内容全部展示出来*/
#header{
	width: 100%;
	height: .45rem;
	background: #333;
	font-size: .16rem;
	position: fixed;
	top: 0;
	z-index: 999;
}
#header .link{
	height: .45rem;
	line-height: .45rem;
}
#header .link li{
	width: 25%;
	float: left;
	text-align: center;
}
#header .link a{
	display: block;
	color: #eee;
	height: .45rem;
	
}
#header .link a:hover,#header .active a:hover{
	background: #000;
}
#adver{
	max-width: 6.4rem;
	margin: 0 auto;
	padding: .45rem 0 0 0;
	position: relative;
}
#adver .slider-list{
				position:relative;
				overflow:hidden;
				}
        #adver .slider-list li{
        	position:absolute;
        	top:0;
        	left:0;
        	opacity:0;
        	filter:alpha(opacity=0);
        	}
        #adver .slider-list li.current{
        	opacity:1;
        	filter:alpha(opacity=100);
        	}
        #adver .count{
        	position:absolute;
        	left: calc(50% - 0.45rem);
        	bottom:.05rem;
        	}
        #adver .count li{
 			float:left;
 			width:.1rem;
 			height:.1rem;
 			cursor:pointer;
 			margin-right:.1rem;
 			overflow:hidden;
 			background:#FFFFFF;
 			opacity:0.7;
 			filter:alpha(opacity=70);
 			border-radius:.1rem;
 			}
        #adver .count li.current{
        	color:#fff;
        	opacity:1;
        	filter:alpha(opacity=100);
        	background:#f60;
        	}
        	.zw{visibility: hidden;}
#search{
	max-width: 6.4rem;
	margin: 0 auto;
	height: .33rem;
	background-color: #ddd;
	padding: .03rem 0 0 0;
	position: relative;
}
#search .search{
	display: block;
	width: 95%;
	height: .27rem;
	background: #FFFFFF;
	border-radius: .04rem;
	font-size: .14rem;
	padding: 0 .05rem;
	outline: none;
	border: none;
	margin: 0 auto;
}
/*#search .search::-webkit-input-placeholder{
	color: #FF0000;
}
#search .search::-moz-placeholder{
	color: #FF0000;
}
.search::-ms-input-placeholder{
	color: #FF0000;
	}*/
#search .button{
	display: block;
	outline: none;
	width: .5rem;
	height: .27rem;
	color: #666;
	border: none;
	background-color: #eee;
	border-top-right-radius: .04rem;
	border-bottom-right-radius: .04rem;
	font-size: .14rem;
	position: absolute;
	top: .03rem;
	right: 1%;
}
#tour {
	max-width: 6.4rem;
	margin: .1rem auto 0 auto;
}
#tour h2 {
	text-align: center;
	color: #666;
	font-size: .26rem;
}
#tour h3 {
	text-align: center;
	color: #666;
	font-weight: normal;
	font-size: .16rem;
	margin: .05rem 0 .1rem 0;
}
/*图片的列表采用浮动的方式来，每一个占用50%的宽度，无论怎么缩放，它都会占用50%的大小*/
#tour figure {
	width: 50%;
	float: left;
	background-color: #eee;
	font-size: .16rem;
	padding: 0 0 .05rem 0;
}
#tour figure img {
	padding: .02rem;
	border-radius: .04rem;
}
#tour figcaption {
	color: #666;
	font-size: .16rem;
	padding: .02rem .05rem;
}
/*文字因为大小不能变，但是外部的盒子DIV的宽度是自适应的，如果很小的情况下，文字会产生换行，这样，布局就会错乱*/
/*在这里不允许换行，只占一行就行，多余的裁掉*/
/*white-space永远保持一行 ,overflow:hidden,多余的字隐藏 ，text-overflow:ellipsis 多余的字用..来省略 */
/*如果内容比较少的情况下，就不必考虑换行的情况了*/
#tour h4{
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: .14rem;
}
#tour p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#tour .info {
	padding: .1rem 0 0 0;
	font-size: .16rem;
}
#tour .price {
	color: #f60;
}
#tour .price strong {
	letter-spacing: .01rem;
}
#tour .sat {
	position: relative;
	float: right;
	right: .05rem;
	font-style: normal;
	font-size: .12rem;
	color: #898989;
}
#footer{
	max-width: 6.4rem;
	margin: 0 auto;
	background: #222;
	font-size: .16rem;
	color: #777;
	padding: .1rem 0;
	text-align: center;
}
#footer .top {
	padding: 0 0 .05rem 0;
}

#headline {
	max-width: 6.4rem;
	margin: 0 auto;
	padding: .45rem 0 0 0;
	position: relative;
}
#headline hgroup {
	position: absolute;
	top: 48%;
	left: 10%;
	color: #eee;
}
#headline h2 {
	font-size: .22rem;
}
#headline h3 {
	font-size: .14rem;
}
.list {
	font-size: .16rem;
	color: #666;
	max-width: 6.4rem;
	margin: .15rem auto;
	padding: 0 .1rem;
}
.list h2 {
	font-size: .2rem;
	border-bottom: .01rem dashed #999;
	padding: 0 0 .15rem 0;
}
.information figure img {
	width: 50%;
	float: left;
}
/*图片和文字之间总得有点距离，所以，我们这里用了2%的距离 */
.information figure figcaption {
	width: 48%;
	float: right;
}
.information figure {
	margin: .15rem 0 0 0;
	position: relative;
}
.information figure::after {
	content: '.';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
/*这里，同样遇到了文字缩放的问题了，缩放的时候，字体本身不会变化，所以，字体会自动换行，挤到下面去了，一般我们的做法就是禁止换行，但是它的内容又不得不换行*/
/*这里就提供了一个方案，不用设置禁止换行，这个设置的目的就是为了控制它的行数*/
/*不得大于1行，或者两行，否则就会隐藏*/
/*但是，它的内容会很空，你也可以在这里添加一些东西，在缩小的时候隐藏掉就OK了。。很多的解决方案是，如果真的调和不了，就直接设置在移动端隐藏，不让它显示，简单的问题简单化*/
.information .title{
	border: none;
	padding: 0 0 .05rem 0;
	overflow: hidden;
	/*控制在一行*/
	-webkit-line-clamp: 1;
	/*垂直排列子元素*/
	-webkit-box-orient: vertical;
		color:#454545;
}
.information .small_title {
	font-weight: normal;
	padding: 0;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: .14rem;
	
}
.information .price {
	color: #f60;
	position: absolute;
	bottom: 0;
}
.information .price strong {
	font-size: .26rem;
	font-weight: normal;
}
.ticket .type {
	margin: .2rem 0;
	border: none;
}
.ticket .type mark {
	color: #fff;
	background-color: #458B00;
	padding: .05rem .08rem;
	border-radius: .04rem;
	margin: 0 .1rem 0 .16rem;
}
.ticket .form {
	border: none;
}
.ticket .form p {
	margin: .1rem 0;
}
.ticket .form label {
	display: block;
	margin: 0 0 .05rem 0;
}
.ticket .form input {
	width: 97%;
	height: .2rem;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: .04rem;
	padding: .05rem;
	color: #666;
}
.ticket .submit {
	width: 30%;
	border-radius: .04rem;
	background-color: #f60;
	color: #fff;
	text-align: center;
	border: none;
	cursor: pointer;
	padding: .05rem;
	margin: 0 auto;
	display: block;
	font-size: .18rem;
	box-sizing: border-box;
}
.ticket .new {
	margin: .2rem 0 0 0;
}
.ticket .new ul {
	margin: .2rem 0 0 0;
}
.ticket .new li {
	display: inline-block;
	padding: .05rem .1rem;
}
.ticket .new li:first-child {
	padding-left: 0;
}
.ticket .new li:nth-child(2) {
	background-color: #458B00;
	border-radius: .04rem;
	color: #fff;
}
.ticket table {
	width: 100%;
    border-collapse:collapse;
    margin: .2rem 0 0 0;
    border: 1px solid #ddd;
}
.ticket table th {
	padding: .15rem 0;
	border-bottom: 1px solid #ddd;
	font-weight: normal;
}
.ticket table td {
	padding: .15rem 0;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
.ticket table tr:nth-child(even) {
	background-color: #fafafa;
}
.ticket table tr:hover {
	background-color: #eee;
}
.ticket .price {
	color: #f60;
}
.ticket .more2 {
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	display: block;
	color: #666;
}
.ticket .reserve {
	border-radius: .04rem;
	background-color: #f60;
	color: #fff;
	text-align: center;
	padding: .05rem .08rem;
}
.about p {
	line-height: 2;
	margin: .2rem 0;
}
.about address {
	font-style: normal;
	line-height: 1.6;
	margin: .2rem 0;
}
/*字体大小是固定的无法自适应，但是可以使用媒体查询改变字体大小*/
@media screen and (max-width:480px ) {
	#tour h2,.information .price strong {
		font-size: .20rem;
	}
	#tour h3, #tour figcaption, #tour .info, .list {
		font-size: .14rem;
	}
	#footer {
		font-size: .12rem;
	}
	#headline h2 {
		font-size: .18rem;
	}
	#headline h3 {
		font-size: .12rem;
	}
	.list h2 {
		font-size: .17rem;
	}
	.min {
		display: none;
	}
}
@media screen and (min-width:480px )and(max-width:640px) {
	#tour h2,.information .price strong {
		font-size: .26rem;
	}
	#tour h3, #footer, #tour figcaption, #tour .info, .list {
		font-size: .16rem;
	}
	#headline h2 {
		font-size: .22rem;
	}
	#headline h3 {
		font-size: .14rem;
	}	
	.list h2 {
		font-size: .2rem;
	}
}

 
